.body {
  width: 1920px;
  height: 4260px;
  background-color: azure;
  margin: auto;
}
.body .head {
  display: flex;
}
.body .head img {
  margin-left: 390px;
  margin-top: 25px;
}
.body .head .v {
  display: flex;
  position: absolute;
  margin-left: 480px;
}
.body .head .v .o .p {
  color: rgb(67, 203, 131);
  margin-top: 55px;
  margin-left: 305px;
}
.body .head .v .o .m {
  border-bottom: 3px solid rgb(67, 203, 131);
  width: 40px;
  margin-left: 305px;
  margin-top: -18px;
}
.body .head .v p {
  margin-left: 45px;
  margin-top: 55px
}
.body .head .v .x {
  width: 132px;
  height: 33px;
  background-color: white;
  margin-top: 45px;
  margin-left: 40px;
  text-align: center;
  color: rgb(67, 203, 131);
  border-radius: 20px;
  padding-top: 10px;
}
.body .banner {
  display: flex;
}
.body .banner img {
  margin-top: 210px;
}
.body .banner .ban {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-left: 750px;
}
.body .banner .ban h1 {
  color: rgb(67, 203, 131);
  margin-top: 315px;
  margin-left: 40px;
  font-size: 45px;
}
.body .banner .ban p {
  margin: 0px;
  margin-left: 40px;
  margin-top: -15px;
  font-size: 21px;
}
.body .banner .ban button {
  width: 220px;
  height: 60px;
  background-color: rgb(67, 203, 131);
  color: white;
  border-radius: 30px;
  border: 0px;
  font-size: 20px;
  margin-top: 35px;
  margin-left: 40px;
}
.body .img {
  margin-left: 1085px;
  margin-top: -825px;
}
.body .banner .s {
  margin-top: 342px;
  width: 450px;
  height: 450px;
  margin-left: 750px;
  position: relative;
}
.body .col {
  display: flex;
}
.body .col .ling {
  width: 360px;
  height: 280px;
  background-color: rgb(241, 227, 252);
  margin-left: 389px;
  margin-top: -168px;
}
.body .col .ling img {
  margin-left: 145px;
  margin-top: 65px;
}
.body .col .ling p {
  font-size: 30px;
  text-align: center;
  margin-top: 43px;
}
.body .col .ling-1 {
  width: 360px;
  height: 280px;
  background-color: rgb(227, 252, 250);
  margin-left: 31px;
  margin-top: -168px;
}
.body .col .ling-1 img {
  margin-top: 65px;
  margin-left: 145px;
}
.body .col .ling-1 p {
  text-align: center;
  font-size: 30px;
  margin-top: 50px;
}
.body .col .ling-2 {
  width: 360px;
  height: 280px;
  background-color: rgb(252, 240, 227);
  margin-left: 31px;
  margin-top: -168px;
  position: relative;
}
.body .col .ling-2 img {
  margin-top: 65px;
  margin-left: 145px;
}
.body .col .ling-2 p {
  text-align: center;
  font-size: 30px;
}
.body .col-1 {
  display: flex;
}
.body .col-1 .luck {
  width: 360px;
  height: 280px;
  margin-left: 389px;
  background-color: rgb(252, 238, 227);
  margin-top: 37px;
  position: relative;
}
.body .col-1 .luck img {
  margin-top: 65px;
  margin-left: 145px;
}
.body .col-1 .luck p {
  text-align: center;
  font-size: 30px;
  margin-top: 40px;
}
.body .col-1 .luck-1 {
  width: 360px;
  height: 280px;
  background-color: rgb(243, 252, 227);
  margin-top: 37px;
  margin-left: 31px;
}
.body .col-1 .luck-1 img {
  margin-top: 65px;
  margin-left: 145px;
}
.body .col-1 .luck-1 p {
  font-size: 30px;
  text-align: center;
  margin-top: 40px;
}
.body .col-1 .luck-2 {
  width: 360px;
  height: 280px;
  background-color: rgb(227, 243, 252);
  margin-top: 37px;
  margin-left: 31px;
}
.body .col-1 .luck-2 img {
  margin-top: 65px;
  margin-left: 145px;
}
.body .col-1 .luck-2 p {
  text-align: center;
  font-size: 30px;
}
.body .hambug {
  display: flex;
}
.body .hambug .ham {
  width: 50%;
}
.body .hambug .ham .img-3 {
  width: 665px;
  height: 515px;
  margin-bottom: 270px;
  margin-left: 225px;
  position: relative;
}
.body .hambug .ham .img-4 {
  margin-left: -894px;
  margin-top: -185px;
}
.body .hambug .bug {
  width: 50%;
}
.body .hambug .bug h1 {
  color: rgb(67, 203, 131);
  margin-left: 10px;
  font-size: 48px;
  margin-top: 130px;
}
.body .hambug .bug p {
  margin-left: 10px;
  font-size: 22px;
  color: rgb(124, 124, 124);
}
.body .hambug .bug .p {
  font-size: 19.5px;
  margin-left: 10px;
  color: rgb(124, 124, 124);
}
.body .hambug .bug .min {
  display: flex;
}
.body .hambug .bug .min .orange {
  display: flex;
  flex-direction: column;
}
.body .hambug .bug .min .orange h1 {
  margin: 0px;
  color: rgb(255, 186, 0);
  margin-left: 10px;
  font-size: 50px;
  margin-top: 50px;
}
.body .hambug .bug .min .orange .p-1 {
  margin: 0px;
  color: rgb(255, 186, 0);
  margin-left: 10px;
  margin-top: -5px;
  font-size: 25px;
}
.body .hambug .bug .min .orange .h1 {
  margin: 0px;
  color: rgb(255, 95, 114);
  margin-left: 95px;
  font-size: 50px;
  margin-top: 50px;
}
.body .hambug .bug .min .orange .p-2 {
  margin: 0px;
  margin-top: -5px;
  margin-left: 95px;
  font-size: 25px;
  color: rgb(255, 95, 114);
}
.body .hambug .bug .min .orange .h {
  margin: 0px;
  margin-top: 50px;
  margin-left: 95px;
  font-size: 50px;
  color: rgb(67, 203, 131);
}
.body .hambug .bug .min .orange .p-3 {
  margin: 0px;
  margin-left: 95px;
  font-size: 25px;
  color: rgb(67, 203, 131);
}
.body .container {
  width: 1920px;
  height: 398px;
  background-color: rgb(241, 227, 252);
  position: relative;
  top: -90px;
  display: flex;
}
.body .container img {
  margin-left: 115px;
  height: 290px;
  margin-top: 47px;
}
.body .container .conten {
  display: flex;
  flex-direction: column;
  margin-left: 90px;
}
.body .container .conten p {
  margin-top: 160px;
  font-size: 21px;
}
.body .container .conten p a {
  color: red;
  text-decoration: none;
}
.body .container .conten h1 {
  margin: 0px;
  margin-top: -10px;
  font-size: 41.5px;
}
.body .container .concept {
  width: 460px;
  height: 563px;
  background-color: white;
  margin-top: -76px;
  margin-left: 142px;
  position: relative;
  border-radius: 5px;
}
.body .container .concept p {
  font-size: 45px;
  text-align: center;
  margin: 0px;
  margin-top: 20px;
}
.body .container .concept .moon {
  margin-left: 55px;
  margin-top: 45px;
  color: rgb(80, 80, 80);
}
.body .container .concept .moon input {
  border: 0px;
  margin-left: 10px;
}
.body .container .concept .moon .border {
  width: 347px;
  border-bottom: 1px solid silver;
  margin-left: -12px;
  margin-top: 5px;
}
.body .container .concept .input {
  margin-left: 55px;
  margin-top: 30px;
  color: rgb(80, 80, 80);
}
.body .container .concept .input input {
  border: 0px;
  margin-left: 10px;
}
.body .container .concept .input .border {
  width: 347px;
  border-bottom: 1px solid silver;
  margin-top: 5px;
  margin-left: -12px;
}
.body .container .concept .checkbox {
  display: flex;
}
.body .container .concept .checkbox input {
  margin-top: 24px;
  margin-left: 43px;
}
.body .container .concept .checkbox .p {
  color: silver;
  font-size: 15px;
  margin-top: 23px;
  margin-left: 13px;
}
.body .container .concept .button {
  display: flex;
}
.body .container .concept .button button {
  width: 155px;
  height: 47px;
  background-color: rgb(67, 203, 131);
  border-radius: 30px;
  text-align: center;
  border: 0px;
  margin-left: 43px;
  margin-top: 37px;
}
.body .container .concept .button button a {
  color: white;
  text-decoration: none;
}
.body .container .concept .button .column {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}
.body .container .concept .button p {
  font-size: 15px;
  margin: 0px;
  margin-left: -22px;
}
.body .container .concept .button .p {
  font-size: 15px;
  margin: 0px;
  margin-left: 22px;
}
.body .container .concept .href {
  margin-top: 25px;
}
.body .container .concept .href .a {
  color: silver;
  margin-left: 43px;
}
.body .container .img {
  width: 235px;
  height: 317px;
  margin-top:67px;
  margin-left: -14px;
}
.body .hamburger .new h1 {
  color: rgb(67, 203, 131);
  font-size: 41.5px;
  margin-top: 83px;
  margin-left: 380px;
}
.body .hamburger .new .all-new {
  display: flex;
}
body .hamburger .new .all-new p {
  margin-top: -10px;
  color: rgb(80, 80, 80);
  margin-left: 387px;
  font-size: 18px;
}
.body .hamburger .new .all-new button {
  width: 200px;
  height: 50px;
  background-color: rgb(67, 203, 131);
  border-radius: 30px;
  border: 0px;
  margin-left: 277px;
  margin-top: -15px;
}
.body .hamburger .new .all-new button a {
  color: white;
  text-decoration: none;
}
.body .hamburger .border {
  width: 1150px;
  border-bottom: 1px solid silver;
  margin: auto;
  margin-top: 62px;
}
.body .hamburger .november {
  display: flex;
}
.body .hamburger .november .france {
  width: 50%;
}
.body .hamburger .november .france h1 {
  margin-left: 380px;
  margin-top: 60px;
  font-size: 34px;
}
.body .hamburger .november .france p {
  color: rgb(80, 80, 80);
  margin: 0px;
  margin-left: 380px;
  font-size: 19px;
} 
.body .hamburger .november .france .heart {
  display: flex;
  margin-left: 380px;
  margin-top: 10px;
}
.body .hamburger .november .france .heart img {
  width: 16px;
  height: 14px;
}
.body .hamburger .november .france .heart .img-1 {
  width: 16px;
  height: 14px;
  margin-left: 30px;
}
.body .hamburger .november .france .heart p {
  margin: 0px;
  font-size: 15px;
  margin-left: 10px;
}
.body .hamburger .november .france .heart .five {
  margin: 0px;
  font-size: 15px;
  margin-left: 315px;
}
.body .hamburger .november .darkness {
  width: 50%;
  margin-left: 55px;
}
.body .hamburger .november .darkness h1 {
  margin-top: 60px;
}
.body .hamburger .november .darkness p {
  color: rgb(80, 80, 80);
  margin: 0px;
  font-size: 19px;
}
.body .hamburger .november .darkness .heart {
  display: flex;
  margin-top: 36px;
}
.body .hamburger .november .darkness .heart img {
  width: 16px;
  height: 14px;
}
.body .hamburger .november .darkness .heart .img-1 {
  width: 16px;
  height: 14px;
  margin-left: 30px;
}
.body .hamburger .november .darkness .heart p {
  margin: 0px;
  font-size: 15px;
  margin-left: 10px;
}
.body .hamburger .november .darkness .heart .five {
  margin: 0px;
  font-size: 15px;
  margin-left: 300px;
}
.body .hamburger .hanover {
  display: flex;
}
.body .hamburger .hanover .mom {
  width: 50%;
  margin-left: 380px;
}
.body .hamburger .hanover .mom h1 {
  font-size: 34px;
  margin-top: 70px;
}
.body .hamburger .hanover .mom p {
  color: rgb(80, 80, 80);
  margin: 0px;
  font-size: 18px;
}
.body .hamburger .hanover .mom .heart {
  display: flex;
  margin-top: 36px;
}
.body .hamburger .hanover .mom .heart img {
  width: 16px;
  height: 14px;
}
.body .hamburger .hanover .mom .heart .img-1 {
  width: 16px;
  height: 14px;
  margin-left: 30px;
}
.body .hamburger .hanover .mom .heart p {
  margin: 0px;
  font-size: 15px;
  margin-left: 10px;
}
.body .hamburger .hanover .mom .heart .five {
  margin: 0px;
  font-size: 15px;
  margin-left: 295px;
}
.body .hamburger .hanover .world {
  width: 50%;
  margin-left: -320px;
}
.body .hamburger .hanover .world h1 {
  font-size: 34px;
  margin-top: 70px;
}
.body .hamburger .hanover .world p {
  color: rgb(80, 80, 80);
  margin: 0px;
  font-size: 19px;
}
.body .hamburger .hanover .world .heart {
  display: flex;
  margin-top: 36px;
}
.body .hamburger .hanover .world .heart img {
  width: 16px;
  height: 14px;
}
.body .hamburger .hanover .world .heart .img-1 {
  width: 16px;
  height: 14px;
  margin-left: 30px;
}
.body .hamburger .hanover .world .heart p {
  margin: 0px;
  font-size: 15px;
  margin-left: 10px;
}
.body .hamburger .hanover .world .heart .five {
  margin: 0px;
  font-size: 15px;
  margin-left: 295px;
}
.body .end {
  width: 1920px;
  height: 460px;
  background-color: rgb(37, 44, 58);
  margin-top: 120px;
  display: flex;
}
.body .end .enter {
  display: flex;
  flex-direction: column;
}
.body .end .enter .lean {
  display: flex;
  margin-top: 77px;
}
.body .end .enter .lean img {
  width: 50px;
  height: 60px;
  margin-left: 380px;
}
.body .end .enter .lean .learn {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}
.body .end .enter .lean .learn h1 {
  margin: 0px;
  color: white;
  font-size: 27px;
  margin-top: 7px;
}
.body .end .enter .lean .learn p {
  margin: 0px;
  font-size: 15px;
  color: white;
}
.body .end .enter .mix p {
  color: silver;
  margin-left: 390px;
}
.body .end .enter .mix .border {
  border-bottom: 1px solid silver;
  width: 280px;
  margin-top: 25px;
  margin-left: 390px;
}
.body .end .enter .img-6 {
  width: 225px;
  height: 45px;
  margin-left: 380px;
  margin-top: 10px;
}