.body {
  width: 1920px;
  height: 4260px;
  margin: auto;
}
.body .head {
  display: flex;
}
.body .head img {
  width: 40%;
  width: 75px;
  height: 75px;
  margin-left: 420px;
  margin-top: 25px;
}
.body .head .container {
  width: 60%;
  margin-top: 25px;
  margin-left: 205px;
  font-size: 20px;
}
.body .head .container ul {
  display: flex;
}
.body .head .container ul li {
  list-style-type: none;
}
.body .head .container ul li a {
  color: black;
  margin-left: 40px;
}
.body .head .container ul li a:hover {
  color: green;
}
.body .head .container ul li a:focus {
  color: red;
}
.body .head .container ul .li {
  list-style-type: none;
}
.body .head .container ul .li a {
  color: black;
  margin-left: 40px;
  text-decoration: none;
}
.body .head .container ul .li a:hover {
  color: green;
}
.body .head .container ul .li a:focus {
  color: red;
}
.body .head .container ul .link {
  list-style-type: none;
  height: 32px;
  width: 130px;
  border: 0.5px solid rgb(230, 230, 230);
  margin-left: 20px;
  border-radius: 20px;
  margin-top: -5px;
  padding-top: 5px;
}
.body .head .container ul .link a {
  color: black;
  margin-left: 20px;
  text-decoration: none;
}
.body .head .container ul .link a:hover {
  color: green;
}
.body .head .container ul .link a:focus {
  color: red;
}
.body .banner {
  display: flex;
}
.body .banner img {
  margin-top: 210px;
}
.body .banner .ban {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-left: 750px;
}
.body .banner .ban h1 {
  color: rgb(67, 203, 131);
  margin-top: 315px;
  margin-left: 40px;
  font-size: 45px;
}
.body .banner .ban p {
  margin: 0px;
  margin-left: 40px;
  margin-top: -15px;
  font-size: 21px;
}
.body .banner .ban button {
  width: 220px;
  height: 60px;
  background-color: rgb(67, 203, 131);
  color: white;
  border-radius: 30px;
  border: 0px;
  font-size: 20px;
  margin-top: 35px;
  margin-left: 40px;
}
.body .img {
  margin-left: 1085px;
  margin-top: -810px;
}
.body .banner .s {
  margin-top: 342px;
  width: 450px;
  height: 450px;
  margin-left: 750px;
  position: relative;
}
.body .col {
  display: flex;
}
.body .col .ling {
  width: 360px;
  height: 280px;
  background-color: rgb(241, 227, 252);
  margin-left: 389px;
  margin-top: -168px;
}
.body .col .ling img {
  margin-left: 145px;
  margin-top: 65px;
}
.body .col .ling p {
  font-size: 30px;
  text-align: center;
  margin-top: 43px;
}
.body .col .ling-1 {
  width: 360px;
  height: 280px;
  background-color: rgb(227, 252, 250);
  margin-left: 31px;
  margin-top: -168px;
}
.body .col .ling-1 img {
  margin-top: 65px;
  margin-left: 145px;
}
.body .col .ling-1 p {
  text-align: center;
  font-size: 30px;
  margin-top: 50px;
}
.body .col .ling-2 {
  width: 360px;
  height: 280px;
  background-color: rgb(252, 240, 227);
  margin-left: 31px;
  margin-top: -168px;
  position: relative;
}
.body .col .ling-2 img {
  margin-top: 65px;
  margin-left: 145px;
}
.body .col .ling-2 p {
  text-align: center;
  font-size: 30px;
}
.body .col-1 {
  display: flex;
}
.body .col-1 .luck {
  width: 360px;
  height: 280px;
  margin-left: 389px;
  background-color: rgb(252, 238, 227);
  margin-top: 37px;
  position: relative;
}
.body .col-1 .luck img {
  margin-top: 65px;
  margin-left: 145px;
}
.body .col-1 .luck p {
  text-align: center;
  font-size: 30px;
  margin-top: 40px;
}
.body .col-1 .luck-1 {
  width: 360px;
  height: 280px;
  background-color: rgb(243, 252, 227);
  margin-top: 37px;
  margin-left: 31px;
}
.body .col-1 .luck-1 img {
  margin-top: 65px;
  margin-left: 145px;
}
.body .col-1 .luck-1 p {
  font-size: 30px;
  text-align: center;
  margin-top: 40px;
}
.body .col-1 .luck-2 {
  width: 360px;
  height: 280px;
  background-color: rgb(227, 243, 252);
  margin-top: 37px;
  margin-left: 31px;
}
.body .col-1 .luck-2 img {
  margin-top: 65px;
  margin-left: 145px;
}
.body .col-1 .luck-2 p {
  text-align: center;
  font-size: 30px;
}
.body .hambug {
  display: flex;
}
.body .hambug .ham {
  width: 50%;
}
.body .hambug .ham .img-3 {
  width: 665px;
  height: 515px;
  margin-bottom: 270px;
  margin-left: 225px;
  position: relative;
}
.body .hambug .ham .img-4 {
  margin-left: -894px;
  margin-top: -185px;
}
.body .hambug .bug {
  width: 50%;
}
.body .hambug .bug h1 {
  color: rgb(67, 203, 131);
  margin-left: 10px;
  font-size: 48px;
  margin-top: 130px;
}
.body .hambug .bug p {
  margin-left: 10px;
  font-size: 22px;
  color: rgb(124, 124, 124);
}
.body .hambug .bug .p {
  font-size: 19.5px;
  margin-left: 10px;
  color: rgb(124, 124, 124);
}
.body .hambug .bug .min {
  display: flex;
}
.body .hambug .bug .min .orange {
  display: flex;
  flex-direction: column;
}
.body .hambug .bug .min .orange h1 {
  margin: 0px;
  color: rgb(255, 186, 0);
  margin-left: 10px;
  font-size: 50px;
  margin-top: 50px;
}
.body .hambug .bug .min .orange .p-1 {
  margin: 0px;
  color: rgb(255, 186, 0);
  margin-left: 10px;
  margin-top: -5px;
  font-size: 25px;
}
.body .hambug .bug .min .orange .h1 {
  margin: 0px;
  color: rgb(255, 95, 114);
  margin-left: 95px;
  font-size: 50px;
  margin-top: 50px;
}
.body .hambug .bug .min .orange .p-2 {
  margin: 0px;
  margin-top: -5px;
  margin-left: 95px;
  font-size: 25px;
  color: rgb(255, 95, 114);
}
.body .hambug .bug .min .orange .h {
  margin: 0px;
  margin-top: 50px;
  margin-left: 95px;
  font-size: 50px;
  color: rgb(67, 203, 131);
}
.body .hambug .bug .min .orange .p-3 {
  margin: 0px;
  margin-left: 95px;
  font-size: 25px;
  color: rgb(67, 203, 131);
}
.body .containe {
  width: 1920px;
  height: 398px;
  background-color: rgb(241, 227, 252);
  position: relative;
  top: -90px;
  display: flex;
}
.body .containe img {
  margin-left: 115px;
  height: 290px;
  margin-top: 47px;
}
.body .containe .conten {
  display: flex;
  flex-direction: column;
  margin-left: 90px;
}
.body .containe .conten p {
  margin-top: 160px;
  font-size: 21px;
}
.body .containe .conten p a {
  color: red;
  text-decoration: none;
}
.body .containe .conten h1 {
  margin: 0px;
  margin-top: -10px;
  font-size: 41.5px;
}
.body .containe .concept {
  width: 460px;
  height: 563px;
  background-color: white;
  margin-top: -76px;
  margin-left: 142px;
  position: relative;
  border-radius: 5px;
}
.body .containe .concept img {
  width: 395px;
  height: 435px;
  margin: 0px;
  margin-left: 66px;
}
.body .containe .concept .app {
  font-size: 45px;
  margin: 0px;
  margin-top: 20px;
  position: absolute;
  top: 2px;
  left: 182px;
}
.body .containe .concept .moon {
  margin-left: 55px;
  margin-top: 45px;
  color: rgb(80, 80, 80);
  position: absolute;
  top: 75px;
}
.body .containe .concept .moon input {
  border: 0px;
  margin-left: 10px;
}
.body .containe .concept .moon .border {
  width: 347px;
  border-bottom: 1px solid silver;
  margin-left: -12px;
  margin-top: 5px;
}
.body .containe .concept .input {
  margin-left: 55px;
  margin-top: 30px;
  color: rgb(80, 80, 80);
  position: absolute;
  top: 145px;
}
.body .containe .concept .input input {
  border: 0px;
  margin-left: 10px;
}
.body .containe .concept .input .border {
  width: 347px;
  border-bottom: 1px solid silver;
  margin-top: 5px;
  margin-left: -12px;
}
.body .containe .concept .input-1 {
  margin-left: 55px;
  margin-top: 30px;
  color: rgb(80, 80, 80);
  position: absolute;
  top: 200px;
}
.body .containe .concept .input-1 input {
  border: 0px;
  margin-left: 10px;
}
.body .containe .concept .input-1 .border {
  width: 347px;
  border-bottom: 1px solid silver;
  margin-top: 5px;
  margin-left: -12px;
}
.body .containe .concept .input-2 {
  margin-left: 55px;
  margin-top: 30px;
  color: rgb(80, 80, 80);
  position: absolute;
  top: 250px;
}
.body .containe .concept .input-2 input {
  border: 0px;
  margin-left: 10px;
}
.body .containe .concept .input-2 .border {
  width: 347px;
  border-bottom: 1px solid silver;
  margin-top: 5px;
  margin-left: -12px;
}
.body .containe .concept .input-3 {
  margin-left: 55px;
  margin-top: 30px;
  color: rgb(80, 80, 80);
  position: absolute;
  top: 310px;
}
.body .containe .concept .input-3 input {
  border: 0px;
  margin-left: 10px;
}
.body .containe .concept .input-3 .border {
  width: 347px;
  border-bottom: 1px solid silver;
  margin-top: 5px;
  margin-left: -12px;
}
.body .containe .concept .checkbox {
  display: flex;
  position: absolute;
  top: 375px;
}
.body .containe .concept .checkbox input {
  margin-top: 24px;
  margin-left: 43px;
}
.body .containe .concept .checkbox .term {
  color: silver;
  font-size: 15px;
  margin-top: 23px;
  margin-left: 13px;
}
.body .containe .concept .button {
  display: flex;
}
.body .containe .concept .button button {
  width: 155px;
  height: 47px;
  background-color: rgb(67, 203, 131);
  border-radius: 30px;
  text-align: center;
  border: 0px;
  margin-left: 43px;
}
.body .containe .concept .button button a {
  color: white;
  text-decoration: none;
}
.body .containe .concept .button .column {
  display: flex;
  flex-direction: column;
  margin-top: 4px;
}
.body .containe .concept .button p {
  font-size: 15px;
  margin: 0px;
  margin-left: 22px;
}
.body .containe .concept .button .p {
  font-size: 15px;
  margin: 0px;
  margin-left: 22px;
}
.body .containe .concept .href {
  margin-top: 25px;
  margin-left: 43px;
}
.body .containe .concept .href .a {
  color: silver;
}
.body .containe .img {
  width: 235px;
  height: 317px;
  margin-top:67px;
  margin-left: -18px;
}
.body .hamburger .new h1 {
  color: rgb(67, 203, 131);
  font-size: 41.5px;
  margin-top: 83px;
  margin-left: 380px;
}
.body .hamburger .new .all-new {
  display: flex;
}
body .hamburger .new .all-new p {
  margin-top: -10px;
  color: rgb(80, 80, 80);
  margin-left: 387px;
  font-size: 18px;
}
.body .hamburger .new .all-new button {
  width: 200px;
  height: 50px;
  background-color: rgb(67, 203, 131);
  border-radius: 30px;
  border: 0px;
  margin-left: 277px;
  margin-top: -15px;
}
.body .hamburger .new .all-new button a {
  color: white;
  text-decoration: none;
}
.body .hamburger .border {
  width: 1150px;
  border-bottom: 1px solid silver;
  margin: auto;
  margin-top: 62px;
}
.body .hamburger .november {
  display: flex;
}
.body .hamburger .november .france {
  width: 50%;
}
.body .hamburger .november .france h1 {
  margin-left: 380px;
  margin-top: 60px;
  font-size: 34px;
}
.body .hamburger .november .france p {
  color: rgb(80, 80, 80);
  margin: 0px;
  margin-left: 380px;
  font-size: 19px;
} 
.body .hamburger .november .france .heart {
  display: flex;
  margin-left: 380px;
  margin-top: 10px;
}
.body .hamburger .november .france .heart img {
  width: 16px;
  height: 14px;
}
.body .hamburger .november .france .heart .img-1 {
  width: 16px;
  height: 14px;
  margin-left: 30px;
}
.body .hamburger .november .france .heart p {
  margin: 0px;
  font-size: 15px;
  margin-left: 10px;
}
.body .hamburger .november .france .heart .five {
  margin: 0px;
  font-size: 15px;
  margin-left: 315px;
}
.body .hamburger .november .darkness {
  width: 50%;
  margin-left: 55px;
}
.body .hamburger .november .darkness h1 {
  margin-top: 60px;
}
.body .hamburger .november .darkness p {
  color: rgb(80, 80, 80);
  margin: 0px;
  font-size: 19px;
}
.body .hamburger .november .darkness .heart {
  display: flex;
  margin-top: 36px;
}
.body .hamburger .november .darkness .heart img {
  width: 16px;
  height: 14px;
}
.body .hamburger .november .darkness .heart .img-1 {
  width: 16px;
  height: 14px;
  margin-left: 30px;
}
.body .hamburger .november .darkness .heart p {
  margin: 0px;
  font-size: 15px;
  margin-left: 10px;
}
.body .hamburger .november .darkness .heart .five {
  margin: 0px;
  font-size: 15px;
  margin-left: 300px;
}
.body .hamburger .hanover {
  display: flex;
}
.body .hamburger .hanover .mom {
  width: 50%;
  margin-left: 380px;
}
.body .hamburger .hanover .mom h1 {
  font-size: 34px;
  margin-top: 70px;
}
.body .hamburger .hanover .mom p {
  color: rgb(80, 80, 80);
  margin: 0px;
  font-size: 18px;
}
.body .hamburger .hanover .mom .heart {
  display: flex;
  margin-top: 36px;
}
.body .hamburger .hanover .mom .heart img {
  width: 16px;
  height: 14px;
}
.body .hamburger .hanover .mom .heart .img-1 {
  width: 16px;
  height: 14px;
  margin-left: 30px;
}
.body .hamburger .hanover .mom .heart p {
  margin: 0px;
  font-size: 15px;
  margin-left: 10px;
}
.body .hamburger .hanover .mom .heart .five {
  margin: 0px;
  font-size: 15px;
  margin-left: 295px;
}
.body .hamburger .hanover .world {
  width: 50%;
  margin-left: -320px;
}
.body .hamburger .hanover .world h1 {
  font-size: 34px;
  margin-top: 70px;
}
.body .hamburger .hanover .world p {
  color: rgb(80, 80, 80);
  margin: 0px;
  font-size: 19px;
}
.body .hamburger .hanover .world .heart {
  display: flex;
  margin-top: 36px;
}
.body .hamburger .hanover .world .heart img {
  width: 16px;
  height: 14px;
}
.body .hamburger .hanover .world .heart .img-1 {
  width: 18px;
  height: 16px;
  margin-left: 30px;
}
.body .hamburger .hanover .world .heart p {
  margin: 0px;
  font-size: 15px;
  margin-left: 10px;
}
.body .hamburger .hanover .world .heart .five {
  margin: 0px;
  font-size: 15px;
  margin-left: 295px;
}
.body .end {
  width: 1920px;
  height: 460px;
  background-color: rgb(37, 44, 58);
  margin-top: 120px;
}
.body .end .max {
  display: flex;
}
.body .end .max .enter {
  display: flex;
  flex-direction: column;
}
.body .end .max .enter .lean {
  display: flex;
  margin-top: 75px;
}
.body .end .max .enter .lean img {
  width: 50px;
  height: 60px;
  margin-left: 380px;
}
.body .end .max .enter .lean .learn {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}
.body .end .max .enter .lean .learn h1 {
  margin: 0px;
  color: white;
  font-size: 21px;
  margin-top: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.body .end .max .enter .lean .learn p {
  margin: 0px;
  font-size: 11px;
  color: white;
}
.body .end .max .enter .mix p {
  color: silver;
  margin-left: 390px;
  font-size: 13px;
}
.body .end .max .enter .mix .border {
  border-bottom: 1px solid rgb(80, 80, 80);
  width: 227px;
  margin-top: 18px;
  margin-left: 390px;
}
.body .end .max .enter .img-6 {
  width: 187px;
  height: 38px;
  margin-left: 380px;
  margin-top: 10px;
}
.body .end .max .ender h4 {
  color: white;
  margin: 0px;
  margin-left: 30px;
  margin-top: 95px;
  font-size: 11px;
}
.body .end .max .ender .fix {
  display: flex;
  margin-left: 30px;
  margin-top: 39px;
}
.body .end .max .ender .fix .p-5 {
  color: silver;
  margin: 0px;
  font-size: 14px;
}
.body .end .max .ender .fix .p-4 {
  margin: 0px;
  color: rgb(124, 124, 124);
  font-size: 13px;
  margin-left: 3px;
}
.body .end .max .ender .day {
  display: flex;
  margin-left: 30px;
  margin-top: 19px;
}
.body .end .max .ender .day .t {
  color: silver;
  margin: 0px;
  font-size: 14px;
}
.body .end .max .ender .day .t-1 {
  margin: 0px;
  color: rgb(124, 124, 124);
  font-size: 13px;
  margin-left: 3px;
}
.body .end .max .enner {
  display: flex;
  flex-direction: column;
  color: silver;
  margin-left: 50px;
}
.body .end .max .enner h4 {
  margin-top: 95px;
  font-size: 11px;
  color: white;
}
.body .end .max .enner .p {
 margin: 0px;
 margin-top: 23px;
 font-size: 14px;
}
.body .end .max .enner p {
 margin: 0px;
 margin-top: 20px;
 font-size: 14px;
}
.body .end .max .enper {
  display: flex;
  flex-direction: column;
}
.body .end .max .enper h4 {
  margin-top: 95px;
  font-size: 11px;
  margin-left: 170px;
  color: white;
}
.body .end .max .enper p {
  margin: 0px;
  font-size: 14px;
  margin-left: 170px;
  color: rgb(124, 124, 124);
  margin-top: 20px;
}
.body .end .max .enper .input {
  width: 260px;
  height: 33px;
  background-color: white;
  margin-top: 20px;
  margin-left: 170px;
  display: flex;
}
.body .end .max .enper .input .a {
  width: 180px;
  margin-left: 20px;
  padding-top: 7px;
  font-size: 14px;
  color: rgb(124, 124, 124);
}
.body .end .max .enper .input .a input {
  border: 0px;
  width: 77px;
}
.body .end .max .enper .input .b {
  width: 80px;
}
.body .end .max .enper .input .b button {
  background-color: rgb(67, 203, 131);
  border: 0px;
  width: 80px;
  height: 33px;
}
.body .end .max .enper .input .b button a {
  text-decoration: none;
  color: white;
  font-size: 12px;
}
.body .end .copy {
  width: 1920px;
  height: 60px;
  background-color: rgb(29, 35, 46);
  margin-top: 133px;
  display: flex;
}
.body .end .copy .made {
  display: flex;
  color: rgb(124, 124, 124);
  margin-left: 390px;
}
.body .end .copy .made p {
  font-size: 14px;
  margin-top: 21px;
}
.body .end .copy .made img {
  width: 15px;
  height: 15px;
  margin-top: 21px;
  margin-left: 3px;
}
.body .end .copy .made .p {
  font-size: 14px;
  margin-left: 3px;
  margin-top: 21px;
}
.body .end .copy .make {
  display: flex;
  color: rgb(124, 124, 124);
  margin-top: 7px;
  margin-left: 545px;
}
.body .end .copy .make p {
  font-size: 14px;
}
.body .end .copy .make .p {
  font-size: 14px;
  margin-left: 23px;
}